@model IEnumerable<examen.Models.Programa>

@{
    ViewData["Title"] = "Inicio";
    ViewData["Module"] = "Programas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgramaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProgramaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgramaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
